/* .projectContainer {
  padding: 40px 0px;
  background-color: var(--backgroundDarkBlue);
}
.projectContainer h1 {
  color: var(--white);
  padding: 20px 40px;
}
.projectContainer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
  gap: 40px;
  list-style: none;
}
.projectContainer li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 510px;
  background-color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid gray;
}
.projectContainer li h4 {
  padding: 10px 0px;
}
.projectContainer img {
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  border-radius: 5px 5px 0px 0px;
}
.plinkToGitHub {
  cursor: pointer;
}
.projectContainer h5 {
  color: var(--headColor);
  align-self: flex-start;
  padding: 5px 20px 20px;
  font-weight: 500;
  height: 40px;
  overflow: hidden;
}
.projectContainer p {
  padding: 5px 20px;
  color: var(--pColor);
  font-size: smaller;
  font-weight: 400;
  height: 105px;
  overflow: hidden;
}
@media screen and (max-width: 550px) {
  .projectContainer ul {
    grid-template-columns: repeat(auto-fit, 350px);
  }
  .projectContainer img {
    height: 250px;
  }
}
@media screen and (max-width: 450px) {
  .projectContainer ul {
    grid-template-columns: repeat(auto-fit, 250px);
  }
  .projectContainer img {
    height: 200px;
  }
  .projectContainer h5 {
    height: fit-content;
  }
  .projectContainer p {
    height: fit-content;
  }
  .projectContainer li {
    height: 550px;
  }
} */
.projectContainer {
  padding: 40px 0px;
}
.projectHeader {
  padding: 20px 40px;
}
.projectContainer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projectContainer li {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
  min-height: 400px;
  justify-content: space-between;
}
.projectContainer li:last-child {
  border-bottom: none;
}
.explainProject {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px;
  height: 100%;
  max-width: 800px;
}
.projectContainer img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid gray;
}
.projectContainer li:nth-child(even) {
  flex-direction: row-reverse;
}
.explainProject h1 {
  padding-bottom: 12px;
}
.explainProject p {
  padding: 10px 10px 5px;
  font-size: 18px;
}
.explainProject h5 {
  font-size: 17px;
  padding: 10px;
}
.linkToGitHub {
  margin: 10px 5px;
}
@media screen and (max-width: 1000px) {
  .projectContainer img {
    width: 300px;
    height: 300px;
  }
  .projectContainer li:nth-child(odd),
  .projectContainer li:nth-child(even) {
    flex-direction: column;
  }
  .projectContainer li:nth-child(even) {
    background-color: var(--lightPurple);
  }
  .explainProject {
    justify-content: center;
    align-items: center;
  }
  .explainProject h1 {
    padding: 20px 0px 10px;
  }
  .explainProject p {
    padding: 10px 0px;
  }
  .explainProject a {
    padding-top: 20px;
  }
  .explainProject {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .explainProject h1 {
    font-size: 22px;
  }
  .explainProject p {
    font-size: 15px;
  }
}
