.experienceContainer {
  background-color: var(--lightGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.experienceContainer h1 {
  padding: 30px;
  text-align: center;
}
.explainExperience {
  max-width: 700px;
}
.explainExperience p {
  padding: 8px 15px;
  color: var(--pColor);
}
.experienceContainer h4 {
  font-size: 20px;
  padding: 10px 0px 5px;
}
.experienceContainer h6 {
  font-size: 16px;
  padding-left: 15px;
}
